<% include ../partials/index_header %>
 <div id = "link-tag" class="container">  
    <div class="nav-scroller py-1 mb-2 mx-1">
      <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/geektalks/Computer Science">Computer Science</a>
          <a class="p-2 text-muted" href="/geektalks/Modern Web">Modern Web</a>
          <a class="p-2 text-muted" href="/geektalks/Mobile App">Mobile App</a>
          <a class="p-2 text-muted" href="/geektalks/AI and Data">AI and Data</a>
          <a class="p-2 text-muted" href="/geektalks/Embedded System">Embedded System</a>   
          <a class="p-2 text-muted" href="/geektalks/Entertainment">Entertainment</a> 
      </nav>
    </div> 

  <div class="container">   
    <div class="jumbotron p-3 p-md-5 mt-2 text-black rounded">
      <div class="col-md-6 px-0">
        <h1 id = "welcome-message" class="display-4 font-italic">Welcome to GeekTalks, let's inspire together</h1>
        <p id = "welcome-message" class="lead my-3">The place to share your projects, development experiences and reflection on your learning</p>
        <p class="lead mb-0"><a href="/login" class="btn btn-light">Get Start</a></p>
      </div>
    </div>
  </div>
  
  <main role="main" class="container mb-4">
    <div class="row">
      <div class="col-md-7 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          Newest Post
        </h3>
          <% for (let i = 0; i < talks.length; i++) { %>
            <div class="card mb-1">
              <div class="card-body">
                <h2 class="card-title"><%=talks[i].title%></h2> 
                <p class="card-text blog-post-meta"><%=talks[i].createdAt.toDateString()%> by <a href="/user/<%=talks[i].user._id%>"><%=talks[i].user.username%></a></p>
                <p class="card-text"><%- talks[i].body.substring(0, 100)%></p>
                <p><a class="btn btn-primary" href="/geektalks/<%=talks[i].tag%>/<%=talks[i]._id%>">
                Read More
                </a></p>
                <p class="icon-list-reverse">Tag: <a href="/geektalks/<%=talks[i].tag%>" class="tag-title"><%=talks[i].tag%></a></p>
                <div id="like-list-color" class="icon-list">
                  <%= talks[i].countLike%><%=" "%><i class="far fa-thumbs-up"></i>    
                </div>                
              </div>
            </div>
          <% } %> 
      </div><!-- /.blog-main -->        

      <aside class="col-md-5 blog-sidebar">
        <div class="p-3 mb-3 rounded">
          <h3 class="font-italic text-center pb-3 mb-4">The top 5 talks</h3>
          <ol>
            <% if (ratingTalks) { %>
              <% ratingTalks.forEach(function(talk, index) { %>
                <div class="my-1">
                    <div class="row">
                      <div class="col-md-2">
                        <h4 class="text-muted text-right"><%= index + 1 %><%= " "%></h4>                    
                      </div>
                      <div class="col-md-10">
                        <h5><a href="/geektalks/<%=talk.tag%>/<%=talk._id%>" id ="rank-title"><%= talk.title%></a></h5>
                        <a id ="rank-author" href="/user/<%=talk.user._id%>" class="text-muted font-italic"><%=talk.user.username%></a>  
                        <p class="day-size text-muted font-italic"><%=moment(talk.createdAt).format("MMM Do YY")%> </p>                  
                      </div>                    
                    </div>
                </div>                    
              <% }) %>
            <% } %>
          </ul>
        </div>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->
<% include ../partials/index_footer %>