<% include ../partials/header %>
    <div class="row my-2">
    	<div class="col-md-2">
    	</div>
    	<div class="col-md-8">
			<div class="card px-1 border-0">
			  <div class="card-body">
			    <h2 class="card-title text-center"><%=talk.title%></h2>
			    <p class="card-text blog-post-meta text-center"><%=talk.createdAt.toDateString()%> by <a href="/user/<%=talk.user._id%>"><%=talk.user.username%></a></p>
			    <p class="card-text"><%- talk.body%></p>
			  </div>
			</div>		
			<div>		
				<ul id="icon-size" class="icon-list-reverse nav">
					<li id="like-color" class="nav-item">
						<%= talk.countLike%><%=" "%><i class="far fa-thumbs-up"></i>		
					</li>
				</ul>
				<ul id="icon-size" class="icon-list nav">
					<li class="nav-item">
						<% if (currentUser) { %>
							<% const newLikes = talk.likes.filter(like => like.author.id.toString() === currentUser._id.toString()) %>	
							<% if (newLikes.length > 0) { %>	
								<form action="/geektalks/<%=talk.tag%>/<%=talk._id%>/reviews/<%=newLikes[0]._id.toString()%>?_method=PUT" method="POST">
									<% if (newLikes[0].state === false) { %>
										<button class="btn btn-outline-primary border-0 btn-lg"><i class="far fa-thumbs-up"></i></button>
									<% } else { %>
										<button class="btn btn-outline-primary border-0 btn-lg active"><i class="far fa-thumbs-up"></i></button>				
									<% } %>								
					            </form>
							<% } else { %>
								<form action="/geektalks/<%=talk.tag%>/<%=talk._id%>/reviews/" method="POST">
								  <button class="btn btn-outline-primary border-0 btn-lg"><i class="far fa-thumbs-up"></i></button>
								</form>	
							<% } %>	
						<% } else { %>
							<form action="/geektalks/<%=talk.tag%>/<%=talk._id%>/reviews/" method="POST">
							  <button class="btn btn-outline-primary border-0 btn-lg"><i class="far fa-thumbs-up"></i></button>
							</form>	
						<% } %>					
					</li>				
					<li class="nav-item">					  
						<a class="nav-link" href="/geektalks/<%=talk.tag%>/<%=talk._id%>/comments/new" 
				      ><i class="far fa-comment-alt"></i></a> 						
					</li>
				</ul>
			</div><br>
    	</div> 
    	<div class="col-md-2">
    	</div>    	   	
    </div>

    <div class="row my-2">
    	<div class="col-md-2">
    	</div>
    	<div class="col-md-8">
			<div class="card">
			  <h5 class="card-header">Comments</h5>		  
			  <div class="card-body">			  
				<% talk.comments.forEach(function(comment) { %>
					<strong class="card-title"><%= comment.author.username%></strong>
					<p class="card-text float-right"><%= moment(comment.createdAt).fromNow()%></p><br>
					<p class="card-text"><%= comment.text%></p>
					<% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
					  	<a href="/geektalks/<%=talk.tag%>/<%=talk._id%>/comments/<%=comment._id%>/edit" 
				      class="btn btn-xs btn-success">Edit</a>
				      <form id="delete-form" action="/geektalks/<%=talk.tag%>/<%=talk._id%>/comments/<%=comment._id%>/?_method=DELETE" method="POST">
				      	<button class="btn btn-xs btn-danger">Delete</button>
				      </form><br> 		
				    <% } %>					
				<% }); %>			    
			  </div>
			</div>	
    	</div> 
    	<div class="col-md-2">
    	</div>    	   	
    </div>    
<% include ../partials/footer %>